<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Customer Home</h1>
   
   <div th:unless="${isPremium}" class="non-premium">
   
		     <a href="pay">Get Premium</a>
		<br>
		<a href="logout">LOGOUT</a>
		</body>
	</div>
	
	<div th:if="${isPremium}" class="premium">
	<table border>
	   <thead>
	     <tr>
	         <th>Name</th>
	         <th>Artist</th>
	         <th>Genre</th>
	         <th>Play</th>
	      </tr>
	     </thead>
	</table>
	</div>
</html>